body {
	background-color: #1B3236;
	color: #E2CECA;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 16px;

	line-height: 1.6em;

}

.container {
	width: 30%;
	margin: auto;
	margin-top: 100;
    text-align: center;
}

.box-1 {

}

.box-2 {
	color:  #E2CECA;
	background-color: #1B3236;
	border: 2px #E2CECA solid;
	border-radius: 5px;
	padding-bottom: 20px;
}

.box-2 ul {
	padding: 0;
	list-style: none;
}

.box-2 li {
	display: inline-block;
}

input[type="submit"] {
	clear: left;
	background-color: #E2CECA;

}

h1 {
	background-color: #1B3236;
	border: 2px #E2CECA solid;
	border-radius: 5px;
	padding: 20px
}


h2 {
	background-color: #1B3236;
	border: 2px #E2CECA solid;
	border-radius: 5px;
	padding: 20px;
}